/* Global Reset */

*, 
*::before, 
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Style */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
body{
  font-size: 16px;
  width: 375px;
  height: auto;
  background : linear-gradient(135deg,hsl(0, 0%, 100%),hsl(0, 100%, 98%)  )
}
.container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr auto 2fr;
  grid-template-areas: 
  "header header"
  "main main"
  "form form";
}

/* Mobile style */
.header{
  grid-area: header;
  height: 100px;
  padding-top: 30px;
  padding-left: 30px;  
}
.main{
  grid-area: main;
}
.form{
  grid-area: form;
}
.pictures{
  padding-bottom: 50px;
}
.color, .txt, .form{
  color: hsl(0, 36%, 70%);
}
.title, .txt{
  text-align: center;
}
span{
  color: hsl(0, 6%, 24%);
}
/* 
  ### Primary

- Desaturated Red: hsl(0, 36%, 70%)
- Soft Red: hsl(0, 93%, 68%)

### Neutral

- Dark Grayish Red: hsl(0, 6%, 24%)

### Gradients

- Linear, 135deg, from sl(0, 0%, 100%)h, to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
*/